/* media query for showing button in carousol on mobile devices  */
@media screen and (max-width:767px) {
    .carousel-inner .carousel-item .cr-img{
        height: 500px;
      
    }
}

/* social icon style  */
.social-icon{
    text-align: center;
    margin-top: 40px;
}
.social-icon i{
    color: white;
    font-size: 30px;
    margin: 0 10px;
}